<div class="sidebar">
  <ul class="sidebar__items">
    <li>
      <a href="/account/{{userId}}" class="flex">
        <span class="material-symbols-outlined">
          edit
        </span>
        Edit Account
      </a>
    </li>
    <li>
      <a href="/add-article" class="flex">
        <span class="material-symbols-outlined">
          add_circle
        </span>
        Add Article
      </a>
    </li>
    <li>
      <a href="/following-list" class="flex">
        <span class="material-symbols-outlined">
          group
        </span>
        Following list
      </a>
    </li>
  </ul>
</div>